#title {
    font-size: 100px;
    font-family: 'Indie Flower';
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

body {
    background-color: lightcoral;
}

.center_horizontally {
    display: flex;
    justify-content: center;
}

#chat_box {
    background-color: black;
    opacity: 0.5;
    overflow: hidden;
    border: 1px solid white;
    width: 1000px;
    height: 400px;
    overflow-y: scroll;
}

#messages {
    color: white;
}

#input_box {
    color: white;
    background-color: black;
    opacity: 0.5;
    border: 1px solid white;
    width: 1000px;
    height: 20px;
    bottom: 0;
}

ul {
    list-style: none;
}

.colour_picker_box {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    position: relative;
    float: left;
}

.colour_picker_box:hover {
    height: 30px;
    width: 30px;
}
