#title {
    font-size: 100px;
}

.center_horizontally {
    display: flex;
    justify-content: center;
}

#chat_box {
    overflow: hidden;
    border: 1px solid black;
    width: 600px;
    height: 300px;
    overflow-y: scroll;
}

#input_box {
    border: 1px solid black;
    width: 600px;
    height: 20px;
    bottom: 0;
}

ul {
    list-style: none;
}
