@model IEnumerable<WebChat.Areas.Identity.Data.AppUser>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<div class="center_horizontally">
    <p id="title">Chat Room</p>
</div>
<div id="chat_container" class="center_horizontally">
    <div id="chat_box">
        <ul id="messages"></ul>
    </div>
</div>
<div id="input_container" class="center_horizontally">
    <input id="input_box" type="text" />
</div>
<div id="members" class="center_horizontally">
    @{
        int iter = 0;
        foreach (var item in Model)
        {
            iter++;
            @:<p><span id=@item.UserName>@item.UserName</span><span id="@iter">,&nbsp;</span></p>
        }
        <script>
            $("#" + @iter).text("");
        </script>
    }
</div>
    <script>
        @{
            foreach (var item in Model)
            {
                @:var id = "@item.UserName";
                @:var colour = "@item.Colour";
                @:$(("#" + id)).css("color", colour);
            }
        }
    </script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>