@model IEnumerable<WebChat.Models.UserModel>
<link rel="stylesheet" type="text/css" href="~/css/site.css" />
<div class="center_horizontally">
    <p id="title">Chat</p>
</div>
<div id="chat_container" class="center_horizontally">
    <div id="chat_box">
        <ul id="messages"></ul>
    </div>
</div>
<div id="input_container" class="center_horizontally">
    <input id="input_box" type="text" />
</div>
<div id="members" class="center_horizontally">
    <ol>
@foreach(var item in Model)
{
    <li>
      @item.Id
    </li>
}
    </ol>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>