<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - WebChat</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
    <body>
        <partial name="_CookieConsentPartial" />
        <partial name="_LoginPartial" />

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2019 - WebChat</p>
            </footer>
        </div>
    </body>
@RenderSection("Scripts", false);
</html>
