<script>
    $('document').ready(() => {
                @foreach(var m in Model._messageList)
                {
                    @:$('#messages').append("<li> @m.Date @m.Sender : @m.Contents </li>")
                }
        scrollBottom();
    });
</script>
